.env
# Ignore temporary page extractions
pdf_pages/


venv/
# Ignore source PDF/SVG documents
translator_architecture_approaches.pdf
reverse_translation_pipeline_overview.svg
reverse_translation_core_modules_detail.svg
